* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-gray: #FBFBFB;
    --medium-gray: #D0D0D0;
    --dark-gray: #858499;
    --warm-beige: #C3C1BE;
    --light-purpule: #9892d3;
    --medium-purpule: #8881d8;
    --dark-purpule: #6a61bf;
    --projects-yellow: #fbcb5f;
    --business-orange: #f79845;
    --personal-blue: #47dafd;
    --white: #fff;
}

a {
    text-decoration: none;
}

.page-container {
    background-color: var(--light-gray);
    font-family: Inter, sans-serif;
}

.sidebar {
    width: 250px;
    background-color: var(--medium-purpule);
    color: var(--white);
}

.sidebar-header {
    height: 80px;
    background-color: var(--dark-purpule);
    display: flex;
    column-gap: 16px;
    align-items: center;
    padding: 24px;
}

#placeholder-circle {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: var(--light-purpule);
}

#placeholder-rectangle {
    border-radius: 8px;
    width: 140px;
    height: 15px;
    background-color: var(--light-purpule);
}

#navigation-menu {
    padding: 25px 0;
}

.nav-menu-item {
    height: 50px;

}

.nav-menu-item img {
    height: 25px;
}

.nav-menu-item a {
    color: white;
    display: flex;
    align-items: center;
    padding: 16px 25px;
}

.nav-menu-item--active {
    border-left: 4px solid var(--white);
}

.nav-menu-item:hover {
    background-color: var(--dark-purpule);
}

.sidebar-divider {
    margin: 0 25px;
    border-color: var(--medium-purpule);
}

#note-types {
    padding: 24px;
}

#note-types li {
    display: flex;
    column-gap: 4px;
    align-items: center;
    margin: 16px 0;
}

#note-types button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: var(--white);
}

#note-types img {
    vertical-align: middle;
    margin-right: 8px;
}


.note-type-color {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 12px;
}

[data-color="projects"] {
    background-color: var(--projects-yellow);
}

[data-color="business"] {
    background-color: var(--business-orange);
}

[data-color="personal"] {
    background-color: var(--personal-blue);
}

footer {
    padding: 24px;
}

#socials {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-bottom: 8px;
}

#socials img {
    width: 20px;
}

#footer-text {
    font-size: 10px;
}

