* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-gray: #FBFBFB;
    --medium-gray: #D0D0D0;
    --dark-gray: #858499;
    --light-purpule: #9892d3;
    --medium-purpule: #8881d8;
    --dark-purpule: #6a61bf;
    --projects-yellow: #fbcb5f;
    --business-orange: #f79845;
    --personal-blue: #47dafd;
    --notification-red: #d94343;
    --white: #fff;
}

a {
    text-decoration: none;
}

.page-container {
    background-color: var(--light-gray);
    font-family: Inter, sans-serif;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: var(--medium-purpule);
    color: var(--white);
    position: relative;
}

header {
    height: 80px;
}

#sidebar-header {
    background-color: var(--dark-purpule);
    display: flex;
    column-gap: 16px;
    align-items: center;
    padding: 24px;
}

#placeholder-circle {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: var(--light-purpule);
}

#placeholder-rectangle {
    border-radius: 8px;
    width: 140px;
    height: 15px;
    background-color: var(--light-purpule);
}

#navigation-menu {
    margin-bottom: 25px;
}

.nav-menu-item {
    height: 50px;
}

.nav-menu-item img {
    height: 25px;
    margin-right: 10px;
}

.nav-menu-item a {
    color: white;
    display: flex;
    align-items: center;
    padding: 16px 25px;
}

.nav-menu-item.active {
    border-left: 4px solid var(--white);
}

.nav-menu-item:hover {
    background-color: var(--dark-purpule);
}

.sidebar-divider {
    margin: 0 25px;
    border-color: var(--medium-purpule);
}

#note-types {
    padding: 24px;
}

#note-types li {
    display: flex;
    column-gap: 4px;
    align-items: center;
    margin: 16px 0;
}

#note-types button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: var(--white);
}

#note-types img, #filters-section img {
    vertical-align: middle;
    margin-right: 8px;
}


.note-type-color {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 12px;
    flex-shrink: 0;
}

[data-color="projects"] {
    background-color: var(--projects-yellow);
}

[data-color="business"] {
    background-color: var(--business-orange);
}

[data-color="personal"] {
    background-color: var(--personal-blue);
}

footer {
    position: absolute;
    padding: 24px;
    bottom: 0;
    left: 0;
}

#socials {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-bottom: 8px;
}

#socials img {
    width: 20px;
}

#footer-text {
    font-size: 10px;
}

main {
    width: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--white);
    padding: 0 48px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#notifications {
    position: relative;
    cursor: pointer;
    margin-left: 12px;
}

#unseen-notification {
    position: absolute;
    right: -10px;
    width: 10px;
    height: 10px;
    background-color: var(--notification-red);
    border-radius: 50%;
}

#notes-section {
    padding: 24px 48px;
}

#filters-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#filters-section>button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: var(--medium-purpule);
}

.filters {
    display: flex;
    gap: 12px;
}

.filter-btn {
    width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    background-color: transparent;
    border: none;
}

.filter-btn.active {
    background-color: var(--medium-purpule);
    color: var(--white);
}

.filter-btn:hover {
    background-color: var(--light-purpule);
    color: var(--white);
}

.notes-grid {
    padding-right: 20px;
    height: calc(100vh - 185px);
    overflow-y: scroll;
}

.flex-container {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 36px 0 10px;
}

.note-card {
    width: 250px;
    height: 250px;
    background-color: white;
    border: 1px solid var(--medium-gray);
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.note-card span {
    font-size: 12px;
    color: var(--dark-gray);
    margin-bottom: 10px;
}

.card-title {
    display: flex;
    align-items: flex-start;
}

.card-title .note-type-color {
    margin-top: 4px;
}

.note-card h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.note-card p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

.notes-grid::-webkit-scrollbar {
    width: 8px;
}

.notes-grid::-webkit-scrollbar-button {
    display: none;
}

.notes-grid::-webkit-scrollbar-thumb {
    background: var(--medium-purpule);
    border-radius: 4px;
}

.notes-grid::-webkit-scrollbar-thumb:hover {
    background: var(--dark-purpule);
}

.notes-grid {
    scrollbar-width: thin;
    scrollbar-color: var(--medium-purpule) transparent;
}

@media screen and (max-width: 900px) {
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 660px) {
    #new-note, .user-info span, #notifications {
        display: none;
    }

    .search-bar input {
        width: 100px;
    }

    #filters-section>button {
        font-size: 12px;
    }

    .filters {
        gap: 6px;
    }

    .filter-btn {
        width: unset;
        padding: 4px 8px;
    }
}

@media screen and (max-width: 450px) {
    .note-card {
        width: 100%;
    }
}



